.h1{
	color: darkred;
}
.green{
	color: green;
}
.red{
	color: red;
}

.image{
	width: 350px;
	height: auto;
}
.video{
	width: 320px;
	height: 240px;
}
.map{
	width: 50%;
	height: 400px;
}
.map1{
	width: 560px;
	height: 315px;
}
table, th, td {
  border: 1px solid black;
}

table{
  border: 3px solid black;
}
